<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}">


    <title th:text="'Site: '+${site.getDisplayName()}"></title>
</head>

<body>
<div class="container">
    <div th:replace="/fragments :: nav"> </div>
    <div th:replace="/fragments :: notif(${succes}, ${error})"></div>
    <div>
        <div class="card mt-4">
            <div class="card-header">
               <h2 class="card-title" th:text="${site.getDisplayName()}"></h2>
               <h5>
                   <span th:if="${site.getOfficial()}" class="badge bg-success">Officel</span>
                   <span th:unless="${site.getOfficial()}" class="badge bg-warning">Non Officiel</span>
               </h5>
                <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/sites/site(id=(${site.getId()}))}" th:method="PUT">
                    <input class="btn btn-primary" type="submit" th:value="${site.getOfficial()} ? 'Désofficialiser' : 'Officialiser'">
                </form>
            </div>
            <div class="card-body">
                <div class="row">
                    <p class="col">Région <span class="badge bg-info text-dark" th:text="${site.getRegion()}"></span></p>
                    <p class="col">Cotation <span class="badge bg-info text-dark" th:text="${site.getDifficulty()}"></span></p>
                    <p class="col">Secteurs <span class="badge bg-info text-dark" th:text="${site.getSectorAmount()}"></span></p>
                    <p class="col">Longueur <span class="badge bg-info text-dark" th:text="${site.getLength()} + 'm'"></span></p>
                </div>
                <div class="row p-4 mt-2" style="background-color: #F1F1F1;">
                    <p th:text="${site.getDescription()}"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="col mt-4">Commentaires</h2>
        </div>
        <h4 sec:authorize="isAnonymous()">Connecter vous <a th:href="@{/login}">ici</a> pour pouvoir laisser des commentaires</h4>
        <div th:if="${coms.isEmpty()}">
            <h4 sec:authorize="isAuthenticated()">Il n'y a encore aucun commentaire, soyez le premier à en laisser un.</h4>
        </div>
        <div class="row card m-3" th:each="commentary : ${coms}" th:object="${commentary}">
            <div class="card-body">
                <p th:text="'Ecrit par: ' + *{getUser().getUsername()}"></p>
                <p th:text="*{getContent()}"></p>
            </div>
            <div class="card-subtitle text-center" sec:authorize="hasAuthority('ADMIN')">
                <a class="btn btn-primary" th:href="@{/commentaries/admin/edit(comid=*{getId()},siteid=${site.getId()})}" th:method="GET">Editer</a>
                <a class="btn btn-primary" th:href="@{/commentaries/admin/remove(comid=*{getId()})}" methods="POST">Supprimer</a>
            </div>
        </div>
        <div class="row mt-4">
            <div sec:authorize="isAuthenticated()">
                <h3 class="col">Ajouter un commentaire</h3>
                <form th:action="@{/commentaries(id=${site.getId()})}" th:method="POST" th:object="${postCommentary}">
                    <textarea class="col form-control" placeholder="Commentaire..." type="text" th:field="*{content}"></textarea>
                    <input class="col btn btn-primary" type="submit" th:value="Commenter">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>