<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">


    <title>Mes réservations</title>
</head>

<body>
<div class="container">
    <div th:replace="fragments.html :: nav"> </div>
    <div th:replace="fragments.html :: notif(${succes}, ${error})"></div>
    <div class="row align-items-center text-center" th:if="${reservations.isEmpty()}">
        <h3 class="text-center col-12">Aucune réservation trouvé</h3>
        <p class="col-12 text-center" style="color: darkgray">Vous pouvez faire des réservations de topo <a th:href="@{/user/registerNewTopo}">ici</a></p>
    </div>

    <div class="row card w-auto m-3" th:each="r : ${reservations}" th:object="${r}">
        <div class="card-header">
            <h4 class="card-title" th:text="*{'Reservation pour '+getTopo().getDisplayName()}"></h4>
            <p class="card-subtitle"> <span th:if="*{isAccepted()}" class="badge bg-success">Accepter.</span> </p>
            <p class="card-subtitle"> <span th:unless="*{isAccepted()}" class="badge bg-warning">En attente.</span> </p>
        </div>
        <div class="card-body">
            <div th:if="*{isAccepted()}">
                <p>Cette réservation à été accepter. <br/> Votre email à été communiquer avec le propriètaire du topo</p>
            </div>
            <div th:unless="*{isAccepted()}">
                <p>Cette réservation est toujours en attente. Le propriètaire peut à tout moment la confirmé.</p>
            </div>
        </div>
        <div class="card-footer" th:if="*{isAccepted()}">
           <p th:text="'Email du propriètaire: '+*{getTopo().getUser().getEmail()}"></p>
        </div>
    </div>
</div>
</body>
</html>