<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">


    <title>Espace personnel</title>
</head>

<body>
<div class="container">
    <div th:replace="/fragments :: nav"> </div>
    <div th:replace="/fragments :: notif(${succes}, ${error})"></div>
    <div class="row m-3">
        <div class="card">
            <div class="card-header text-center">Site d'escalades</div>
            <div class="card-body">
                <h5 class="card-title">Partager un nouveau site d'escalade</h5>
                <p class="card-text">
                    En cliquant sur ce boutton vous pourrez ajouter un nouveau site d'escalade qui serra afficher dans la liste des sites.
                   <br/>Attention à ne peux poster un site déjà éxistant et à poster de réels informations.
                </p>
                <div class="text-center">
                    <a th:href="@{/user/registerNewSite}" class="btn btn-primary card-link">Ajouter un site</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-3">
        <div class="card">
            <div class="card-header text-center">Topos</div>
            <div class="card-body">
                <h5 class="card-title">Partager un topos que vous pocéder / Gérer les topos existant</h5>
                <p class="card-text">
                    En cliquant sur ce boutton vous pourrez ajouter un nouveau topo à la liste des topo afin de pouvoire le transmettre au utilisateur
                    ayant fait une réservation.
                    <br/>Vous pourrez aussi gérer vos topos déjà partager.
                </p>
                <div class="text-center">
                    <a th:href="@{/user/topos}" class="btn btn-primary card-link">Mes topos</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>