<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">


    <title>Topos</title>
</head>

<body>

<div class="container">
    <div th:replace="/fragments :: nav"> </div>
    <div th:replace="/fragments :: notif(${succes}, ${error})"></div>
    <div class="row w-auto align-content-center pb-3 pt-4">
        <a class="col-md-4 col-12 btn btn-primary m-2" th:unless="${reservedTopo.isEmpty() && unReservedTopo.isEmpty()}" th:href="@{/user/registerNewTopo}">Ajouter un nouveau topo</a>
        <a class="col-md-4 col-12 btn btn-primary m-2" th:unless="${unReservedTopo.isEmpty()}" href="#reservedTopos">Voir mes topos disponibles</a>
        <a class="col-md-4 col-12 btn btn-primary m-2" th:unless="${reservedTopo.isEmpty()}" href="#unreservedTopos">Voir mes topos réservés</a>
    </div>
    <div class="row align-items-center text-center" th:if="${reservedTopo.isEmpty() && unReservedTopo.isEmpty()}">
        <h3 class="text-center col-12">Aucun topo trouver !</h3>
        <p class="col-12 text-center" style="color: darkgray">Vous pouvez ajouter un topo en cliquand <a th:href="@{/user/registerNewTopo}">ici</a></p>
    </div>

    <h3 id="unreservedTopos" th:if="${!reservedTopo.isEmpty()}">Topo réserver</h3>
    <div class="row card w-auto m-3" th:each="t : ${reservedTopo}" th:object="${t}">
        <div class="card-header">
            <h4 class="card-title" th:text="*{getDisplayName()}"></h4>
            <p class="card-subtitle text-muted" th:text="*{getRegion()}"></p>
            <span th:if="*{getAvailable()}" class="badge badge-success">Disponible</span>
            <span th:if="*{!getAvailable()}" class="badge badge-danger">Indisponible</span>
        </div>
        <div class="card-body">
            <p class="card-text" th:text="'Poster le: ' + *{#dates.format(releaseDate,'dd/MM/YYYY')}"></p>
            <p class="card-text text-break" th:text="*{getDescription()}"></p>
        </div>
        <div class="card-footer" th:unless="*{getAvailable()}">
            <p class="card-text" th:if="*{getCurrentReservation() != null}" th:text="'Réserver par: '+*{getCurrentReservation().getUser().getEmail()}"></p>
            <a class="card-link" th:text="'Activer la disponibilitée'" th:href="@{/topos/setavailable(id=*{id})}"></a>
        </div>
    </div>
    <h3 id="reservedTopos" th:if="${!unReservedTopo.isEmpty()}">Topos disponibles</h3>
    <div class="row card m-3" th:each="t : ${unReservedTopo}" th:object="${t}">
        <div class="card-header">
            <h4 class="card-title" th:text="*{getDisplayName()} ? 'null' "></h4>
            <p  class="card-subtitle text-muted" th:text="*{getRegion()}"></p>
            <span th:if="*{getAvailable()}" class="badge badge-success">Disponible</span>
            <span th:if="*{!getAvailable()}" class="badge badge-danger">Indisponible</span>
        </div>
        <div class="card-body">
            <p class="card-text" th:text="'Poster le: ' + *{#dates.format(releaseDate,'dd/MM/YYYY')}"></p>
            <p class="card-text text-break" th:text="*{getDescription()}"></p>
            <div th:if="*{getAvailable()}">
                <a class="btn btn-primary" th:href="@{/topos/reservations(id=*{getId()})}">Voir les resérvations:</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>