<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">


    <title>Topos d'escalade</title>
</head>

<body>
<div class="container">
    <div th:replace="/fragments :: nav"> </div>
    <div th:replace="/fragments :: notif(${succes}, ${error})"></div>

    <div th:if="${topos.isEmpty()}">
        <h2>Aucun topo trouver...</h2>
    </div>
    <nav th:unless="${topos.isEmpty()}" aria-label="pagination">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" th:href="@{/topos/topos(page=${topos.previousOrFirstPageable().getPageNumber()})}">Précédent<<</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/topos/topos(page=${topos.nextOrLastPageable().getPageNumber()})}">Suivant</a></li>
        </ul>
    </nav>
    <div class="row card m-3" th:each="t : ${topos}" th:object="${t}">
        <div class="card-header">
            <h4 class="card-title" th:text="*{getDisplayName()}"></h4>
            <p class="card-subtitle text-muted" th:text="*{getRegion()}"></p>
            <span th:if="*{getAvailable()}" class="badge badge-success">Disponible</span>
            <span th:if="*{!getAvailable()}" class="badge badge-danger">Indisponible</span>
        </div>
        <div class="card-body">
            <p class="card-text" th:text="'Poster le: ' + *{#dates.format(releaseDate,'dd/MM/YYYY')}"></p>
            <p class="card-text text-break" th:text="*{getDescription()}"></p>
            <div sec:authorize="isAuthenticated()" th:if="*{getAvailable()}">
                <a class="btn btn-primary"th:href="@{/topos/askForReservation(id=*{getId()})}">Demande de Réservation</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>