<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">


    <title>Nouveau Site</title>
</head>

<body>
<div class="container">
    <div th:replace="/fragments :: nav"> </div>

    <div th:replace="/fragments :: notif(${succes}, ${error})"></div>

    <form class="row m-3" novalidate th:action="@{/sites/users/newsite}" th:method="POST" th:object="${newSite}">
        <div class="col-sm-12 col-md-4">
            <label for="inputSiteDisplayName" class="col-form-label">Nom du site</label>
            <input type="text" class="form-control" id="inputSiteDisplayName" th:field="*{displayName}" th:value="*{displayName}" required>
        </div>
        <div class="valid-feedback"> Ok !</div>
        <div class="col-sm-12 col-md-4">
            <label for="inputSiteRegion" class="col-form-label">Région</label>
            <select class="form-select-button form-control" id="inputSiteRegion" th:field="*{region}">
                <option th:value="null" selected>Choisisez une région</option>
                <option th:each="r : ${regions}" th:text="${r}" th:value="${r}"></option>
            </select>
        </div>
        <div class="col-sm-12 col-md-4">
            <label for="inputSiteDifficulty" class="col-form-label">Cotation</label>
            <select class="form-select-button form-control" id="inputSiteDifficulty" th:field="*{difficulty}">
                <option th:value="null" selected>Choisisez une cotation</option>
                <option th:each="d : ${difficulties}" th:text="${d}" th:value="${d}"></option>
            </select>
        </div>
        <div class="col-sm-12 col-md-3">
            <label for="inputSectorNumber">Nombre de secteurs</label>
            <input class="form-control" type="number" id="inputSectorNumber" min="0" max="99999999" th:field="*{sectorAmount}" th:value="*{sectorAmount}" required/>
        </div>
        <div class="col-sm-12 col-md-3">
            <label for="inputLength">Longueur</label>
            <input class="form-control" type="number" id="inputLength" min="0" max="99999999" th:field="*{length}"  th:value="*{length}" required/>
        </div>
        <div class="col-sm-12 col-md-3">
            <label for="inputWayAmount">Nombre de voies</label>
            <input class="form-control" type="number" id="inputWayAmount" min="0" max="99999999" th:field="*{wayAmount}" th:value="*{wayAmount}" required/>
        </div>
        <div class="col-12">
            <label for="inputSiteDescription" class="col-form-label">Description du site</label>
            <textarea class="form-control" id="inputSiteDescription" th:field="*{description}" th:value="*{description}" required> </textarea>
        </div>

        <input type="checkbox" hidden="hidden" th:value="false" th:field="*{official}">

        <div class="col-12 mt-4 text-center flex-fill"> <input type="submit" class="btn btn-primary" th:value="Partager"/> </div>
    </form>
</div>
</body>
</html>