<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:form="http://www.springframework.org/tags/form"  >

<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">


    <title>Sites d'escalade</title>
</head>

<body>
<div class="container">
    <div th:replace="/fragments :: nav"> </div>

   <form class="row m-2" th:action="@{/sites}" th:method="POST" th:object="${climbingSiteFilter}">
       <div class="col-lg-12 input-group">
           <span class="input-group-text" id="inputFilter-region">Région</span>
           <select class="form-select form-control"
                   th:field="*{region}"
                   aria-label="Region input filter"
                   aria-describedby="inputFilter-region">

               <option th:name="'Tous'" th:text="'Tous'" th:value="null"></option>
               <option th:each="r : ${regions}" th:text="${r}" th:name="${r}" th:value="${r}"></option>
           </select>
       </div>
       <div class="col-lg-12 input-group">
           <span class="input-group-text" id="inputFilter-difficulty">Difficulté</span>
           <select class="form-select form-control"
                   th:field="*{difficulty}"
                   aria-label="Difficulty input filter"
                   aria-describedby="inputFilter-difficulty">

               <option th:name="'Tous'" th:text="'Tous'" th:value="null"></option>
               <option th:each="d : ${difficultys}" th:text="${d}" th:name="${d}" th:value="${d}"></option>
           </select>
       </div>

       <div class="col-lg-6 input-group">
           <span class="input-group-text" id="inputFilter-sectors-nb">Secteurs</span>
           <input type="number"
                  class="form-control"
                  min="0"
                  max="99999999"
                  th:field="*{sectorAmount}"
                  aria-label="Secteur input filter"
                  aria-describedby="inputFilter-sectors-nb">
       </div>

       <div class="col-lg-6 text-right">
           <button class="btn btn-primary" type="submit">Filtrer</button>
       </div>
   </form>
    <div>
        <nav aria-label="pagination">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" th:href="@{/sites(page=${climbingsites.previousOrFirstPageable().getPageNumber()})}">Précédent</a></li>
                <li class="page-item"><a class="page-link" th:href="@{/sites(page=${climbingsites.nextOrLastPageable().getPageNumber()})}">Suivant</a></li>
            </ul>
        </nav>
    </div>
    <div class="row align-content-center mt-2">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4" th:each="site : ${climbingsites}" th:object="${site}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="*{getDisplayName()}">Site d'escalade</h5>
                    <h6 class="card-subtitle text-muted" th:text="*{getRegion()}">Aucune région définie</h6>

                    <p class="card-text" th:text="*{getDescription()}">Aucune description</p>
                    <a class="card-link" th:href="@{/sites/site(id=*{getId()})}">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>