<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">


    <title>Inscription</title>
</head>

<body>
<div class="container">
    <div th:replace="/fragments :: nav"> </div>
    <div th:replace="/fragments :: notif(${succes}, ${error})"></div>

    <h2 class="pt-4">Inscription</h2>

    <form class="input-group" th:action="@{/register}" th:method="POST" th:object="${newUser}">
        <div class="row align-items-center p-3 w-100">
            <div class="col-auto">
                <input class="form-control" type="text" th:field="*{username}" aria-label="Username" placeholder="Nom d'utilisateur"/>
            </div>
        </div>

        <div class="row align-items-center p-3  w-100">
            <div class="col-auto">
                <input class="form-control" type="text" th:field="*{email}" aria-label="Email" placeholder="Adresse mail"/>
            </div>
        </div>

        <div class="row align-items-center p-3  w-100">
            <div class="col-auto">
                <input class="form-control" type="password" th:field="*{password}" aria-label="Password" placeholder="Mot de passe"/>
            </div>
        </div>

        <div class="row p-2 w-100">
            <span class="text-mutedt">Déjà un compte ? <a th:href="@{/login}">Connexion</a></span>
        </div>

        <div class="row align-items-center p-3  w-100">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">S'inscrire</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>